.logo_img {
    width: 50px;
}

.nav-link {
    color: #949494;
}

.nav-link:hover,.dropdown .nav-link.show{
    color: #f2b90d;
}

.position-absolute {
    position: relative;
}
.w-85 {
    width: 85%;
}