.logo_img {
    width: 50px;
}

.nav-link {
    color: #949494;
}

.nav-link:hover,.dropdown .nav-link.show{
    color: #f2b90d;
}


.w-85 {
    width: 85%;
}

video {
    width: 100%;
}

.contenido {
    bottom: 20px;
    height: 300px;
    color: aliceblue;
}

.banner {
    height: 600px; overflow: hidden;
}

.header {
    width: 100%; 
    position: absolute; 
    z-index: 1;
}

.mostrar-mobile {
    display: none;
}

.ocultar-mobile {
    display: block;
}


@media (max-width: 990px) {
    .ocultar-mobile{
        display: none
    }

    .mostrar-mobile {
        display: block;
    }
}




